.omMig{
  padding-left: 100px;
  width: 600px;
  border: 10px black;
}

.Beta{
  width: 600px;
  padding-left: 100px;
}

.Betahaus img{
  width: 600px;
}

.Way {
  width: 300px;
  padding-left: 100px;
}

.WayWay img {
  width: 600px;
}

.Han{
  padding-left: 100px;
  width: 300px;
}

.Hansot img {
  width: 1200px;
}


.BKH{
  padding-left: 100px;
}

.Bonnier img {
  width: 1200px;

}
